*{
  margin:0
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.chart{
 margin-left: 3pc;
 margin-bottom: 3pc;
 margin-right: 3pc;
}
h2{
  text-shadow:1px 2px 4px rgb(134, 134, 132);
}
input{
  font-size: 12px;
  color: rgb(182, 16, 16);
  margin-bottom: 10px;
}
label{
  font-size: 13px;
  color: rgb(46, 41, 41); 
}
.calculator{
  margin-top: 20px;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  max-width: 400px;
  padding: 10px;
  text-align: center;

}


